<!DOCTYPE html>
<html lang="en">
<head>
  include ./partial/_head-stuff.pug
  <title>Profile &middot; Application theme &middot; Official Bootstrap Themes
  </title>
</head>
<body>
<div class="bon" id="app-growl">
</div>
<div class="do axz">
    <div class="ayb">
        <form role="form" class="ahr avz j" id="login-form">

            <a href="/" class="l afv">
                <img src="img/brand.png" alt="brand">
            </a>


            <div class="mu">
              <input class="form-control" placeholder="First Name" id="firstName">
            </div>

            <div class="mu">
                <input class="form-control" placeholder="Last Name" id="lastName">
            </div>

            <div class="mu">
              <input class="form-control" placeholder="Email" id="email">
            </div>

            <div class="mu">
                <input class="form-control" placeholder="Username" id="username">
            </div>

            <div class="mu afh">
                <input type="password" class="form-control" placeholder="Password" id="password">
            </div>

            <div class="afv">
                <!--<button class="cg nq" id="login">Log In</button>-->
                <button class="cg nq" id="singup">Sign up</button>
            </div>

            <footer class="bqx">
                <a href="/signin" class="axc">Log In</a>
            </footer>
        </form>
    </div>
</div>
include ./partial/_scripts.pug
<script src="/js/signuppage.js"></script>
</body>
</html>

